*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 30px;
}

body {
  font-family:sans-serif;
  padding-bottom: 10px;
  height: 1px;
  min-height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  background-color: white;
  display:flex;
  align-items: center;
  flex-direction: column;
  gap: 2% 2%;
}

.top-wrapper {
  background-color: rgb(0, 235, 235);
  width: 100%;  
}

.top-items {
  display: flex;
  align-items: center;
  color: white;
  padding: 0.5em;
  margin: 0 calc(9rem - 0.5em);
}

.top-cart-icon-wrapper {
  margin-left: auto;
  position: relative;
}

.top-cart-icon-wrapper.active {
  cursor: pointer;
}

.top-shopping-cart-icon {
  height: 40px;
  width: 40px;
}

.floating-cart-count {
  position: absolute;
  bottom: 2px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  font-size: 0.5em;
  border-radius: 50%;
  width: 20px;
  height: 20px
}

.title {
  font-size: 1.5em;
}

.items-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  margin: 1em 9em;
  padding: 1em;
  border: 1px solid lightgray;
  border-radius: 0.25em;
}

.items-box ul {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2vh 2vw;
  list-style: none;
}

.items-box-top {
  width: 100%;
  display:flex;
  gap: 0.5em;
  align-items: center;
  margin-bottom: 1em;
}

.items-box-top * {
  font-size: 0.8em;
}

.items-box-top span {
  font-size: 0.8em;
  margin-left: auto;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 0.1em;
  padding: 0.5em;
}

.item:hover {
  cursor: pointer;
  border: 2px solid rgb(0, 235, 235);
}

.item-picture img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.item-details {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
}

.item-details p {
  font-size: 0.6em;
}

button {
  color: black;
  font-size: 0.6em;
  font-weight: bold;
  border: none;
  padding: 10px;

}

button:hover {
  cursor: pointer;
}

.add-to-cart-button {
  margin-top: auto;
  background-color: rgb(0, 235, 235);
}

.add-to-cart-button:hover {
  background-color: rgb(80, 235, 235);
}

.add-to-cart-button:active {
  background-color: rgb(100, 235, 235);
}


.notification-item.success {
  box-shadow: green 0px 0px 15px 0px;
  background-color: #28a745;
  color: white;
}

.notification-item.error {
  box-shadow: red 0px 0px 15px 0px;
  background-color: #dc3545;
  color: white;
}

.notification-item .closing-button {
  color: white
}

.notification-timer {
  position: absolute;
  border-radius: 5%;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 0;
}

.success .notification-timer {
  background-color: #176329;
}

.error .notification-timer {
  background-color: #811e28;
}

@media only screen and (max-width: 1450px){
  :root {
    font-size: 0.95em;
  }
  .items-box ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .item-picture {
    height: 200px;
    width: 200px;
  }
}
@media only screen and (max-width: 800px){
  :root {
    font-size: 0.90em;
  }
  .items-box ul {
    grid-template-columns: 1fr 1fr;
  }

  .notifications-wrapper {
    bottom: 0 !important;
    left: 0 !important;
    width: 100vw !important;
  }
}

@media only screen and (max-width: 520px){
  .item-picture {
    height: 100%;
    width: 100%;
  }
}

.shopping-cart {
  border: 2px solid lightgray;
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  width: 75%;
  padding: 0.85em 1em;
  margin-bottom: 3em;
  list-style: none;
}

.cart-details {
  width: 100%;
  display: flex;
  align-items: center;
}

.subtotal {
  margin-left: auto;
  margin-right: 1em;
}

.pay-button {
  background-color: rgb(124, 252, 0);
}

.pay-button:hover {
  background-color: rgb(104, 232, 0);
}

.pay-button:active {
  background-color: rgb(84, 212, 0);
}

.cart-item-picture {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.cart-item-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cart-item {
  list-style: none;
  padding: 1em;
  width: 100%;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-item-name {
  margin-left: 1em;
  margin-right: auto;
}

.cart-item-count {
  margin-right: 1em;
  padding: 0.5em;
  width: 50px;
}

.cart-item-price {
  white-space: nowrap;
}

.closing-button {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  background: none;
}

.closing-button:hover {
  color: rgb(40, 40, 40)
}

.closing-button:active {
  color: rgb(60, 60, 60)
}

.fade-out {
  opacity: 0;
  animation: fadeOut 0.25s;
}

@keyframes fadeOut {
  from {
  	opacity: 1;
  }
  to {
 	opacity: 0;
  }
}

.fade-in {
  opacity: 1;
	animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}

footer {
  margin-top: auto;
  text-align: center;
  font-size: 0.7em;
  width: 100%;
}

footer hr {

  margin-bottom: 0.3em;
}

.notifications-wrapper {
  position: fixed;
  bottom: 0.4em;
  right: 0.4em;
  width: 25vw;
  z-index: 10;
}

.notification-item {
  position: relative;
  border-radius: 0.25em;
  background-color: black;
  color: white;
  padding: 1em;
  width: 100%;
  height: 12vh;
  font-size: 0.8em;
  text-align: center;
  opacity: 95%;
  margin-bottom: 0.2em;
  
}

.slide-left {
  transform: translateX(100%);
  animation: slideLeft 0.3s;
}

@keyframes slideLeft {
  from {
  	transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.slide-right {
  animation: slideRight 0.3s;
  transform: translateX(100%);
}

@keyframes slideRight {
  from {
  	transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

